:root {
  --primary-color: rgba(222, 216, 206, 0.637);
  --secondary-color: #f44433;
  --accent-color: #2d5e99;
  --dark-color: #272044;
}

body {
  font-family: "Overpass Mono", monospace;
}

h1,
.skills-container h2 {
  font-family: "Literata", serif;
}
h2 {
  font-family: "Caveat", cursive;
  font-size: 29px;
}
/* Font */
h1,
.projects-container h2 {
  font-size: 60px;
}
.nav-link {
  font-size: 18px;
}
.skills-container h2 {
  font-size: 36px;
  font-weight: 700;
}
.skills-icon,
.navbar-brand {
  font-size: 48px;
}
.inquiry-form p,
.btn-footer {
  font-size: 24px;
}

/* Color */
h2,
.btn-branding:hover {
  color: var(--accent-color);
}
.btn-branding,
.btn-footer {
  color: var(--primary-color);
}
h1,
p,
.nav-link,
.nav-tabs,
.btn-inquiry:hover,
.navbar-brand,
.btn-footer:hover {
  color: var(--secondary-color);
}
.projects-container p,
.skills-icon,
.stack li,
.btn-inquiry,
.nav-link .active {
  color: var(--dark-color);
}

/* Background */
body,
.btn-inquiry:hover,
.projects-container .row {
  background-color: var(--primary-color);
}
img,
.btn-branding,
.btn-footer {
  background-color: var(--accent-color);
}

.btn-branding:hover,
.btn-inquiry {
  background-color: var(--secondary-color);
}
.projects-container p,
.projects-container h2 {
  background-color: rgb(222, 216, 206);
}
.inquiry-form {
  background-color: rgba(45, 94, 153, 0.3);
  font-weight: 700;
}
.projects-container .project-description {
  background: rgba(222, 216, 206, 0.9);
}
.projects-container {
  background-image: url(/images/grid.jpg);
}

/* Border */
.hero,
.projects-container .project-description,
.skills-container,
.btn-inquiry:hover,
.btn-footer:hover {
  border: 2px solid var(--secondary-color);
}
.inquiry-form {
  border: 8px solid var(--accent-color);
}

.project-block .left,
.about img {
  box-shadow: -12px -12px rgba(244, 68, 51, 1);
}
.project-block .right {
  box-shadow: 12px 12px rgba(244, 68, 51, 1);
}

.stack {
  list-style: none;
  padding-left: 0;
}
.inquiry-form a {
  margin: 38px 4px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  .hero h2 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
  .project-description {
    text-align: center;
  }
  .project-description h2,
  .skills-icon {
    font-size: 32px;
  }
}
