:root {
  --primary-color: #d8e5d5;
  --secondary-color: #f44433;
  --accent-color: #2d5e99;
}

/* font-family: 'Fahkwang', sans-serif;
font-family: 'Petit Formal Script', cursive;
font-family: 'Roboto Mono', monospace; */
